<!DOCTYPE html>
    <html>
        
        <head>

            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <title>Annuaire</title>
        
            <link rel="stylesheet" href="{{asset('public/css/leaflet.css')}}"/>
            <link rel="stylesheet" href="{{asset('public/css/style.css')}}"/>
            
            <script src="{{asset('public/js/leaflet.js')}}"></script>
            <script src="{{asset('public/js/mymap.js')}}"></script>
                        
        </head>
        <body>

            <header>
                <div class='nav1'>
                    <a href="#">S'INSCRIRE |</a>
                    <a href="#">SE CONNECTER</a> 
                </div>

                <div class="nav2">
                    <div>
                        <img src="web/public/css/images/sciencetour.png" alt="logo d'il parait que">
                        <h1>IL PARRAIT</br>QUE...</h1>
                        <img src="web/public/css/images/pdeb.png" alt="deuxieme logo">
                    </div>

                    <nav>
                        <a href="#">ACCUEIL</a>
                        <a href="#">AGENDA</a>
                    </nav>
                </div>
            </header>

            <main>

                {#<div id='map'></div>#}

                <section class='evenements'>

                    <h1>Les événements à la une</h1>

                    {% for e in events %}
                        <ul>
                            <li>
                                {{e.nom}}
                            </li>
                            <li>
                                {{e.adresse}}
                            </li>
                            <li>
                                {{e.date}}
                            </li>
                            <li>
                                {{e.heure}}
                            </li>
                        </ul>
                    {% endfor %}
 
                </section>
    
            </main>
            
            <script>
                let mymap = L.map('map').setView([49.2517, 2.472029], 10);

                display_maps();
            </script>   
        </body>
    </html>       



