<!DOCTYPE html>
    <html>
        
        <head>

            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <title>Annuaire</title>
        
            <link rel="stylesheet" href="{{asset('public/css/leaflet.css')}}"/>
            <link rel="stylesheet" href="{{asset('public/css/style.css')}}"/>
            
            <script src="{{asset('public/js/leaflet.js')}}"></script>
            <script src="{{asset('public/js/mymap.js')}}"></script>
                        
        </head>
        <body>

            <header>
                <div class='nav1'>
                    <a href="#">S'INSCRIRE |</a>
                    <a href="#">SE CONNECTER</a> 
                </div>

                <div class="nav2">
                    <div>
                        <img src="{{ asset('sciencetour.png')}}"/>
                        <h1>IL PARRAIT</br>QUE...</h1>
                        <img src="{{ asset('pdeb.png')}}"/>
                    </div>

                    <nav>
                        <a href="#">ACCUEIL</a>
                        <a href="#">AGENDA</a>
                    </nav>
                </div>
            </header>

            <main>

                <div id='map'></div>

                <section class='evenements'>

                    <h1>Les événements à la une</h1>

                    {% for e in events %}
                        <ul>
                            <li>
                                {{e.nom}}
                            </li>
                            <li>
                                {{e.adresse}}
                            </li>
                            <li>
                                {{e.date | date("d/m/Y")}}
                            </li>
                            <li>
                                {{e.heure | date("H:i:s")}}
                            </li>
                        </ul>
                    {% endfor %}
 
                </section>
    
            </main>
            
            <script>
                let mymap = L.map('map').setView([48.5112, 2.2055], 10);

                display_maps();

                {% for e in events %}
                    display_marker({{e.latitude}}, {{e.longitude}})
                {% endfor %}
            </script>   
        </body>
    </html>       



